html{
  margin: 0px;
  }
<style>
  body {
    margin: 20%;
    background-color: #001821;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    background-size: 100%;
  }
  body {
    background: url(img/bg-1.png) no-repeat;
    background-size: 100%;
  }
</style>