.button {
  background: #F5170E;
  border-radius: 35px;
  padding: 18px 40px;
  text-transform: uppercase;
  justify-content: center;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  transition: 0.3s all;
  max-width: 168px;
  max-height: 55px;
  display: flex;
}

.button:hover {
  background: #DA0100;
  box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
}

.button--light {
  background: transparent;
  color: #DA0100;
  border: 1px solid;
  max-width: 135px;
  padding: 18px 30px;
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.button--light:hover {
  background: #DA0100 border 1px solid #DA0100;
  color: #fff;
}

.button--light-wide {
  background: transparent;
  color: #DA0100;
  border: 1px solid;
  max-width: 168px;
  padding: 18px 30px;
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.button--light-wide:hover {
  background: #DA0100 border 1px solid #DA0100;
  color: #fff;
}

.button--dark {
  background: #8E8E8E;
}

.button--dark:hover {
  background: #2B2B2B;
}

.button--submit {
  background: #F5170E;
}

.button--submit:hover {
  background: #F5170E;
}