.footer {
  align-items: center;
  padding-top: 30px;
  margin-bottom: 30px;
}

.footer__container {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #192f37;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  justify-content: flex-end;
}