.form {
  margin-bottom: 95px;
}

.form__row {
  display: flex;
  margin-bottom: 27px;
}

.form__input {
  flex: 1;
  margin-right: 30px;
  border-radius: 5px;
  border: none;
  background: #FFFFFF;
  padding: 21px 28px;
  font-size: 18px;
  line-height: 21px;
  color: #1A1B1E;
}

.form__input::placeholder {
  color: #666;
}

.form__input:last-child {
  margin-right: 0px;
}

.form__input--textarea {
  height: 235px;
}

.form__controls {
  display: flex;
  margin-bottom: 26px;
}

.form__controls-title {
  margin-top: 9px;
  width: 38.3%;
  font-size: 18px;
  line-height: 21px;
}

.form__buttons {
  display: flex;
  justify-content: flex-end;
}

.form__button {
  margin-right: 20px;
}

.form__button:last-child {
  margin-right: 0px;
}

