.hello {
  margin-top: 128px;
}

.hello__title {
  width: 45%;
  font-size: 72px;
  line-height: 95px;
  font-weight: bold;
  margin-bottom: 31px;
}

.hello__text {
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 34px;
}