.hello__container {
  flex-direction: column;
}

.hello__title {
  width: 45%;
  font-size: 72px;
  line-height: 91px;
  font-weight: bold;
}

.hello__text {
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
}