.title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
  color: #fff;
  display: flex;
}

.title--fire {
  margin-bottom: 46px;
}

.title--fire:after {
  display: flex;
  content: "";
  background: url("../../img/flame.png") no-repeat;
  margin-left: 24px;
  width: 21px;
  height: 28px;
  transform: translate(-50%, -50%);
  margin-top: 22px;
}

.title--dark {
  color: #000;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 40px;
  line-height: 42px;
  color: #000;
}