.title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
  color: #fff;
  display: flex;
}

.title--fire {
  margin-bottom: 55px;
  align-items: center;
}

.title--fire:after {
  content: "";
  background: url("../../img/flame.png") no-repeat;
  margin-left: 14px;
  width: 21px;
  height: 28px;
}

.title--dark {
  color: #000;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 40px;
  line-height: 42px;
  color: #000;
}

.page-title {
  margin-bottom: 36px;
  font-size: 72px;
  line-height: 84px;
  font-weight: bold;
}